<div class="conteneur-jeu">
  <h2>TP 3 : Jeu du Nombre Secret</h2>

  <div class="carte-status">
    <div class="stats">
      <span class="label">Tentatives</span>
      <span class="valeur">{{ essaisRestants() }} / 5</span>
    </div>
  </div>

  <div class="formulaire">
    <div class="groupe-saisie">
      <input 
        type="number" 
        [(ngModel)]="nombreSaisi" 
        (keyup.enter)="!jeuTermine() && verifierNombre()"
        placeholder="Entrez un chiffre..."
        [disabled]="jeuTermine()"
        min="1"
        max="100"
      >
    </div>

    <button 
      class="bouton-valider" 
      (click)="verifierNombre()" 
      [disabled]="jeuTermine() || nombreSaisi() === null"
    >
      Vérifier mon choix
    </button>
  </div>

  <div class="zone-message">
    @if (message()) {
      <div class="message" [ngClass]="{'gagne': estGagne(), 'perdu': jeuTermine() && !estGagne(), 'info': !jeuTermine()}">
        {{ message() }}
      </div>
    }

    @if (jeuTermine()) {
      <button class="bouton-rejouer" (click)='nouvellePartie()'>
        Nouvelle Partie 🔄
      </button>
    }
  </div>
</div>
