<div class="message-bonjour">
  <h1>Bonjour tout le monde !!!</h1>
  <p>Ceci est le TP 1 : Premier composant Angular</p>
  
  <div class="donnees">
    <h3>Affichage des données (Interpolation)</h3>
    <ul>
      <li><strong>Nom de l'étudiant :</strong> {{ etudiant.nom }}</li>
      <li><strong>Prénom de l'étudiant :</strong> {{ etudiant.prenom }}</li>
      <li><strong>ID de l'étudiant :</strong> {{ etudiant.identifiant }}</li>
      <li><strong>Tableau de notes :</strong> {{ tableauChiffres }}</li>
      <li><strong>Appel de Méthode :</strong> {{ direBonjour() }}</li>
    </ul>
  </div>
</div>
